
/* Colors!
 * Black: #1C1D21
 * Dark Purple: #A288A6
 * Light Purple: #BB9BB0
 * Dark Gray: #CCBCBC
 * Light Gray: #F1E3E4
 */

     /***********
        NAV BAR
       ************/
       html, body {
        height: 100vh;
        margin: 0;
        
    }
    /* Add a background color to the top navigation */
    body .topnav {
      z-index: 5;
      overflow: hidden;
        text-align: center;
        background-color: #CCBCBC;
    
        display: flex;
        justify-content: center;
        width:100%;
        font-family: 'Bodoni Moda';
    
      }
      main {
        flex-grow: 1; /* This will push the footer down */
        overflow-y: hidden;
    }
        /* Style the links inside the navigation bar */
        .topnav a {
          float: center;
          color: #A288A6;
          text-align: center;
          padding: .3em 1em;
          text-decoration: none;
          font-size: 1.3em;
        }

        /* Change the color of links on hover */
        .topnav a:hover {
          background-color: #BB9BB0;
          color: #F1E3E4;
        }

        /* Add a color to the active/current link */
        .topnav a.active {
          background-color: #A288A6;
          color: #F1E3E4;
        }

       /***********
        HEADERS
       ************/
          h1 {
            text-align: center;
            font-size: 3.5em;
            color: #A288A6;
            margin-top: 1rem;
          }

          h2 {
            font-family: 'Bodoni Moda';
            text-align: center;
          }
          h3 {
            color: #F1E3E4;
            font-size: 5em;
          }
          h4{
            text-align: center;
            font-size: 2.7em;
            margin-bottom: -.1rem;
          }

       /***********
        BODY
       ************/

        body {
          padding-bottom: 10rem;
          text-align: CENTER;
          background: #F1E3E4;
          color: #1C1D21;
          min-height: 100vh;
      }
      p {
        font-size: 1.3em;
        max-width: 80rem;
        margin: 0 auto;
        padding: 1rem;
        text-align: center;
      }


      /***********
        FOOTER
       ************/

      footer {
        
        background-color: #A288A6;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height:12rem;
        width: 100%;
        bottom: 0;
        left: 0;
        width: 100%;
        margin: 0;
        padding: 0;
      }

      .contact-info, .links {
        font-size: 1.7em;
        text-align: center;
        margin: 0 10rem 0 0; 
        flex-basis: 100%; /* Takes full width on smaller screens */

      }
      .links {
        margin: 0 0 0 10rem;
      }

      .centered-logo img{
        display: block;
        margin: 0 auto;
        max-height: 15vh;
      }

      footer a {
          text-decoration: none;
          color: #F1E3E4;
          margin: 0 1rem 0 -1rem;
      }
      /* Responsive styles */
      @media (max-width: 768px) {
        .contact-info, .links {
          font-size: .8em; 
          margin: 0 0 0 .5rem; 
        }
        .centered-logo img{
          max-height: 5vh;
        }
        main {
          overflow-y: auto;
      }
      footer {
        height: 10rem;
      }
    }
