h2 {
    font-size: 1.7em !important;
  }
  h5 {
    font-size: 1.5em !important;
  }
#grid {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
}
.left p {
    text-align: left;
}
.left, .right {
    flex: 1;
    padding: 10px;
}

.slideshow img {
    width: 100px;
    margin: 5px;
}

video {
    max-width: 100%;
    height: auto;
}
a {
    text-decoration: none; 
}
.button1 {
    color: #F1E3E4;
    background: #A288A6;
    font-size: 20px;
}
.button1 p {
    font-family: 'Bodoni Moda';
}
.button2 {
    color: #A288A6;
    background: #F1E3E4;
    border: #BB9BB0 2px solid !important;
    box-sizing: border-box;
    font-size: 1.5em !important;
}

.button-image {
    height: 2em;
    margin-right: 8px; 
    display: inline-block;
    vertical-align: middle;
}

.button1, .button2 {
    font-family: 'Bodoni Moda' !important;
    margin: 1em auto;
    display: block;
    border-radius: 999px;
    box-shadow: #A288A6 0 10px 20px -10px;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: 700;
    line-height: 2em;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
  }
    .button1:hover,.button2:hover {
        color: #F1E3E4;
        background: #BB9BB0;
    }
  .mySlides {
    display: none;
}

.slideshow-container {
    position: relative;
    max-width: 100%;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0);
    color: white;
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
    z-index: 10;
}

.prev {
    left: 0;
}

.next {
    right: 2%;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.active, .dot:hover {
    background-color: #717171;
}
.prev:hover, .next:hover {
    background-color: rgba(255, 255, 255, 0.7);
    ;
  }
  @media screen and (max-width: 1075px) {
    .row {
        flex-wrap: wrap; 
        flex-direction: column; 
    }

    .left, .right {
        flex: unset; 
        max-width: 100vw; 
    }
}
.slideshow-container:hover .prev,
.slideshow-container:hover .next {
    background-color: rgba(255, 255, 255, 0.7); /* White with transparency */
}