.work-item img, .work-item .label {
  transform: scale(0.9); 
  transform-origin: center; 
}
.work-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center !important;
  margin: 2rem;
}

.work-item {
  position: relative;
  margin: .8em;
  flex-basis: 33.33%; 
  max-width: 33.33%;
  overflow: hidden; 
}

.work-item img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease; 
}

.work-item .label {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: white;
  color: black; 
  text-align: center;
  font-size: 3em;
  padding: 1em 0; 
  transition: background-color 0.3s ease; 
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}

.work-item:hover .label {
  background-color: rgba(255, 255, 255, 0.95);
}

.work-item:hover img {
  transform: scale(1.1); 
  border-radius: 3rem;
}

h2 {
  text-align: center;
  font-size: 2.7em;
}
.round-img{
  border-radius: 3rem;
  max-width:40rem;
  max-height:40rem;
}

@media (max-width: 768px) {
  .work-item {
    margin: 0.5em;
    flex-basis: 100%;
    max-width: 100%;
  }

  .work-item img {
    width: 100%;
  }
  .work-item .label {
    font-size: 1.5em;
    padding: 1em 0; 

  }
}
