.work-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2rem;
}

.work-item {
  margin: 1em;
  flex-basis: 33.33%; /* Set to 33.33% for three items per line */
  max-width: 400rem; /* Adjust as needed */
}

.work-item img {
  max-width: 100%;
  height: auto;
}
  
  

.work-gallery > img {
 max-width: 0;
  height: 0;
  min-height: 100%;
  min-width: 100%;
  object-fit: cover;
  cursor: pointer;
}

.work-gallery img:hover{
box-shadow: 1rem 1rem .5rem #000000;
-moz-box-shadow: 0rem 1rem .5rem #000000;
-webkit-box-shadow: 0rem 1rem .5rem #000000; 
}

.round-img{
  border-radius: 3rem;
  max-width:40rem;
  max-height:40rem;
}

  