
body{
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100%;
  overflow: hidden;
}
.topnav, footer {
  flex-shrink: 0;
}
.star {
  z-index: 2;
  top: 65px;
  left: 559px;
  position: absolute;
}
.star img {
  width: 45%;
  height: auto;
  animation: spinAndScale 3s infinite;
}
@keyframes spinAndScale {
  0%, 100% {
    transform: rotate(0deg) scale(1);
  }
  25% {
    transform: rotate(-360deg) scale(1);
  }
  50% {
    transform: rotate(360deg) scale(1);
  }
  75% {
    transform: scale(1.1);
  }
}
#videospace{
  margin-top: 1%;
  margin-bottom: 1%;
}

.content {
  margin-top:1%;
  z-index:1;
  background: #F1E3E4 url("../images/AG2DarkPurpleNoStar.png") no-repeat center center;
  background-size: 25%;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  height: 60vh;
  text-align: center;
  justify-content: center;
  flex-grow: 1;
  z-index: 0;
  margin-bottom: 2em;
}
.button{
  display: flex;
  /* margin-bottom: 6%;  */
  margin-right: 40vw;
  margin-left: 40vw;
  background-color:#F1E3E4;
 text-align: center;
 color: #BB9BB0;
 border: 2px solid #A288A6;
 font-size: calc(1vw + 1vh + 1vmin);
 width: 20vw;
 font-family: 'Bodoni Moda';
 animation: blinking 1s infinite alternate;
}

@keyframes blinking {
  from {
    background-color: #BB9BB0;
    color:#F1E3E4
  }
  to {
    background-color: #F1E3E4;
  }
}

.button:hover {
  box-shadow: 1rem 1rem 0.5rem #A288A6;
  -moz-box-shadow: 0rem 1rem 0.5rem #A288A6;
  -webkit-box-shadow: 0rem 1rem 0.5rem #CCBCBC;
}

svg {
  width: 100%;  
  height: auto;
}

h4{
  text-align: center;
  font-size: 3em;
  color: #BB9BB0;
  font-family: 'Bodoni Moda';
  margin-top: 0;
  justify-content: center;
  
}

h5{
  font-style: italic;
  text-align: center;
  font-size: 2em;
  color: #F1E3E4;
  /* margin: 0 0 5% 25%; */
  font-family: 'Bodoni Moda';
}

h6{
  text-align: left;
  font-size: 2em;
  color: #F1E3E4;
  font-style: italic;
 padding-bottom: 2rem;
 margin: 0 0 0 30%;
 font-family: 'Bodoni Moda';
 margin-top: -1rem;
}

a{
  text-decoration: none !important;
}

footer {
  position: fixed;
}
@media screen and (max-width: 768px) {
  h6, h5{
    font-size:1.5em;
  }
  .button{
    font-size: 2em;
    /* margin: 0 0 10% 20%;  */
    margin-top: -40%;
    margin-bottom: 10%;
    font-size: calc(.9vw + .9vh + .9vmin);
  }

  footer{
    margin-top: 10%;
  }
  h4{
    font-size: 2em !important;
  }
  body{
    overflow: none;
  }
  video {
    max-width: 100%;
    height: auto;
  }
  .button {
    margin-top: 10%;
  }
}
@media screen and (max-height:700px) {
  video {
      height: 30%; /* Maintain the aspect ratio */
  }

  /* Ensure the button remains visible above the footer */
  .button {
      position: relative; /* Adjust positioning if necessary */
      z-index: 10;        /* Ensure it's above other content */
      margin-top: 5%;     /* Give some space above the button */
      margin-bottom: 5%;  /* Give some space below before the footer starts */
  }

 
}