
body{
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100%;
  overflow: hidden;
}
.topnav, footer {
  flex-shrink: 0;
}
.star {
  z-index: 2;
  top: 65px;
  left: 559px;
  position: absolute;
}
.star img {
  width: 45%;
  height: auto;
  animation: spinAndScale 3s infinite;
}
@keyframes spinAndScale {
  0%, 100% {
    transform: rotate(0deg) scale(1);
  }
  25% {
    transform: rotate(-360deg) scale(1);
  }
  50% {
    transform: rotate(360deg) scale(1);
  }
  75% {
    transform: scale(1.1);
  }
}
video {
  aspect-ratio: 16 / 9; 
  width: 100%;
  height: auto;
  max-height: 540px;
}
.content {
  margin-top:1%;
  z-index:1;
  background: #F1E3E4 url("../images/AG2DarkPurpleNoStar.png") no-repeat center center;
  background-size: 25%;
  display: flex;
  align-items: center;
  height: 60vh;
  text-align: center;
  justify-content: center;
  flex-grow: 1;
  z-index: 0;
  margin-bottom: 2em;
}
.button{
  display: flex;
  margin-top: -.5%; 
  margin-right: 40vw;
  margin-left: 40vw;
  background-color:#F1E3E4;
 text-align: center;
 color: #BB9BB0;
 font-size: calc(1vw + 1vh + 1vmin);
 width: 20vw;
 font-family: 'Bodoni Moda';
 animation: blinking 1.5s infinite alternate;
 padding:0;
}
#viewButton p{
  text-align: center;
  padding: 0;
}

@keyframes blinking {
  from {
    background-color: #BB9BB0;
    color:#F1E3E4
  }
  to {
    background-color: #F1E3E4;
  }
}

.button:hover {
  box-shadow: 1rem 1rem 0.5rem #A288A6;
  -moz-box-shadow: 0rem 1rem 0.5rem #A288A6;
  -webkit-box-shadow: 0rem 1rem 0.5rem #CCBCBC;
}

svg {
  width: 100%;  
  height: auto;
}

h4{
  text-align: center;
  font-size: 3em;
  color: #BB9BB0;
  font-family: 'Bodoni Moda';
  margin-top: 0;
  justify-content: center;
  
}

h5{
  font-style: italic;
  text-align: center;
  font-size: 2em;
  color: #F1E3E4;
  font-family: 'Bodoni Moda';
}

h6{
  text-align: left;
  font-size: 2em;
  color: #F1E3E4;
  font-style: italic;
 padding-bottom: 2rem;
 margin: 0 0 0 30%;
 font-family: 'Bodoni Moda';
 margin-top: -1rem;
}

a{
  text-decoration: none !important;
}

footer {
  position: fixed;
  margin-top: 10%;

}
@media screen and (max-width: 768px) {
  h6, h5{
    font-size:1.5em;
  }
  .button{
    font-size: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 2em;
    padding-right: 2em;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-right:auto;
    margin-left:auto;
    font-size: calc(.9vw + .9vh + .9vmin);
  }

  footer{
    margin-top: 10%;
  }
  h4{
    font-size: 2em !important;
  }
  body{
    overflow: none;
  }
  video {
    max-width: auto;
    height: 60vh;
  }
}
@media screen and (max-height:700px) {
  video {
      height: 50vh;
  }
  .button {
    margin-right:auto;
    margin-left:auto;
      margin-top: 5%;
      position: relative;
      z-index: 10;       
      margin-bottom: 5%;  
  }

 
}