
body{
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100%;
  overflow: hidden;
}
.topnav, footer {
  flex-shrink: 0;
}
.content {
  margin-top:1%;
  background: #F1E3E4 url("../images/AG2DarkPurple.png") no-repeat center center;
  background-size: 25%;
  display: flex;
  align-items: center;
  height: 60vh;
  text-align: center;
  justify-content: center;
  flex-grow: 1;
  z-index: 0;
  margin-bottom: 1%;
}
svg {
  width: 100%;  
  height: auto;
}

h4{
  text-align: center;
  font-size: 3em;
  color: #BB9BB0;
  font-family: 'Bodoni Moda';
  margin-top: 0;
  justify-content: center;
  
}

h5{
  font-style: italic;
  text-align: center;
  font-size: 2em;
  color: #F1E3E4;
  /* margin: 0 0 5% 25%; */
  font-family: 'Bodoni Moda';
}

h6{
  text-align: left;
  font-size: 2em;
  color: #F1E3E4;
  font-style: italic;
 padding-bottom: 2rem; /* Adjust as needed */
 margin: 0 0 0 30%;
 font-family: 'Bodoni Moda';
 margin-top: -1rem;
}

a{
  text-decoration: none !important;
}
.button{
   margin-bottom: 6%; 
   margin-left: auto;
   margin-right: auto;
   background-color:#F1E3E4;
  text-align: center;
  color: #BB9BB0;
  border: 2px solid #A288A6;
  font-size: 3em;
  padding: 15px;
  width: 60%;
  font-family: 'Bodoni Moda';
  align-items: center;
  justify-content: center;
}
.button:hover{
box-shadow: 1rem 1rem .5rem #A288A6;
-moz-box-shadow: 0rem 1rem .5rem #A288A6;
-webkit-box-shadow: 0rem 1rem .5rem #CCBCBC;
}

/* .content{
  background: url("../images/AG2DarkPurple.png") no-repeat fixed center;

  display: grid;
  grid-template-columns: 1fr 1fr;
} */
.words{
  margin: 15% 0 0 0;
  font-size: 1.5em;
}

  img.logo {
  max-height: 40%;
}
/* article{
  margin-right: 20%;
} */
footer {
  position: fixed;
}
@media screen and (max-width: 768px) {
  body{
    overflow: auto;
  }
  h6, h5{
    font-size:1.5em;
  }
  .button{
    width: 50%;
    font-size: 2em;
    justify-content: center;
    margin: 0 0 10% 20%; 
    font-size: 1em;
    margin-top: -20%;
  }
  h4{
    font-size: 2em !important;
  }
}
