
.button1 {
  background: #A288A6;
  border-radius: 999px;
  box-shadow: #A288A6 0 10px 20px -10px;
  box-sizing: border-box;
  color: #F1E3E4;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}

.container {
  display: flex;
  flex-direction: column;
}

.pdf-view {
  display: none; /* Initially hide the PDF view */
}

.button-view {
  display: block; /* Initially show the button view */
}

@media screen and (max-width: 1024px) {
  .pdf-view {
      display: block; /* Show PDF view on screens wider than 768px (like tablets and computers) */
  }

  .button-view {
      display: none; /* Hide the button view on screens wider than 768px */
  }
}