
body { 
  margin: 0; 
  background: #F1E3E4;
  color: #1C1D21;
}
/* Add a background color to the top navigation */
.topnav {
  background-color: #CCBCBC;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: center;
  color: #A288A6;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #BB9BB0;
  color: #F1E3E4;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #A288A6;
  color: #F1E3E4;
  ;
}
.gallery {
  width: 60%;
  margin: auto;
  display: block;
  margin-bottom: 50px;
  --g: 100px;  /* control the gap */
  
  display: grid;
  gap: var(--g);
  aspect-ratio: 1;
  grid-template-columns: repeat(2,auto);
}

.gallery > img {
  width: 0;
  height: 0;
  min-height: 100%;
  min-width: 100%;
  object-fit: cover;
  cursor: pointer;
}

.gallery img:hover{
  box-shadow: 10px 10px 5px #000000;
  -moz-box-shadow: 0px 10px 5px #000000;
-webkit-box-shadow: 0px 10px 5px #000000; 
}

.round-img{
  border-radius: 30px;
}
footer {
display: block;
background-color: #A288A6;
position: relative;
left: 0;
bottom: 0;
}
